<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<header>
    <a href="/" class="logo">用户中心</a>
    <img src="//temp.im/50x50" alt="用户名" class="avatar">
</header>
<nav>
    <ul class="nav-list">
        <li class="cur">
            <a href="javascript:void(0);">
                <i class="fa fa-users"></i>
                <span>用户管理</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
                <i class="fa fa-users"></i>
                <span>用户管理</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
                <i class="fa fa-users"></i>
                <span>用户管理</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
                <i class="fa fa-users"></i>
                <span>用户管理</span>
            </a>
        </li>
    </ul>
</nav>
<section class="main">
    {{{ body }}}
</section>
<footer></footer>
</body>
</html>