<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<canvas id="cas"></canvas>
<div class="warp">
    <img class="h-img pre-hide" src="/images/default.gif" alt="">
    <form action="">
        <input class="ipt" type="text" placeholder="用户名" name="username" autocomplete="off" required>
        <hr>
        <input class="ipt" type="password" placeholder="密码" name="password" autocomplete="off" required>
        <a type="submit" class="submit"></a>
    </form>
    <a href="/forget" class="forget pre-hide">忘记密码？</a>
</div>
<script type="text/javascript" src="/js/canvas-particle.js"></script>
</body>
</html>