<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<canvas id="cas"></canvas>
<div class="warp">
    <div class="box-login">
        <img class="h-img pre-hide" id="j_img" src="/images/default.gif" alt="">
        <form action="/user/login" method="post">
            <input class="ipt" type="text" placeholder="用户名" name="username" autocomplete="off" required>
            <hr>
            <input class="ipt" type="password" placeholder="密码" name="password" autocomplete="off" required>
            <input type="hidden" name="redirect_uri" value="{{redirect_uri}}">
            <button class="submit"></button>
        </form>
        <a href="/forget" class="forget pre-hide">忘记密码？</a>
    </div>
</div>
<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/js/canvas-particle.js"></script>
<script>
    $('input[name="username"]').blur(function () {
        $.getJSON('/user/avatar', {user: $(this).val()}, function (res) {
            console.log(res);
            if (+res.code === 100) {
                $('#j_img').removeClass('pre-hide').attr('src', res.avatar);
            }
        })
    });
</script>
</body>
</html>